body {
  background-color: #121213;
  color: #fff;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.gameContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
